:root {
  --primaryColor: rgb(58, 124, 125);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1.2rem;
  line-height: 1.8rem; */
}
body {
  background-color: whitesmoke;
  position: relative;
  min-height: 100vh;
}
li {
  list-style: none;
}
.calc{
  background-color: blueviolet;
  /* height: calc(100% - 2%); */
}